SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_RECORD_QUERIES = True
DEV_DATABASE_URI='postgresql+psycopg2://usuario:password@localhost:5432/database'
PROD_DATABASE_URI='postgresql://usuario:password@localhost:5432/database'
